.header{
  background: #2cb97e;
  padding: 15px;
  font-size: 36px;
  font-weight: 600;
}

.header h1{
 float:left  
}

.login_block{
  float:right;
  font-size: 20px;
  text-align: center;
}

.login_block a{
  text-decoration: none;
  color:#fff;
}

.login_block a:hover, .logout_button:hover{
  color: rgb(211, 202, 202);
}

.header::after{
  content:"";
  clear:both;
  display: block;
}

.logout_button{
  background: none;
    cursor: pointer;
    border-radius: 0px;
    border: none;
    color:#fff;
    margin-top: 10px;
    font-size: 16px;
}

.login_block .login a{
  color:#000;
  cursor: pointer
}



