.dialogs{
  display: flex;
}

.chat_history{
  border-left: 1px solid #000;
  padding: 16px 16px 90px 16px;
  position: relative;
}

.add_message_block{
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  padding: 0 15px
}

.add_message_block input{
  display: block;
  width: calc(100% - 15px);
  margin-bottom: 10px;
}

.message{
  padding-bottom:15px;
}

.send_messag_form  div{
  width:calc(100% - 98px) ;
  float: left;
}

.send_messag_form textarea{
  min-height: 40px;
  width: 100%;
  resize: none;
  padding:5px;
  font-size: 16px;
  outline: none;
}

.send_messag_form button{
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  width: 78px;
  border-radius: 0px;
  background: #0c7348;
  border: none;
  color: #fff;
  padding: 6px 10px;
  margin-left:10px;
  float: right;
}

.send_messag_form button:hover{
  color:#000;
  background: #b1dfcc;
}